[Desktop Entry]
Name=Tauon Music Box
GenericName=Music Player
Comment=A powerful and streamlined music player for the desktop
Exec=tauon --ozone-platform-hint=auto --disable-features=Vulkan --enable-features=WaylandWindowDecorations %U
Icon=tauon
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
MimeType=audio/flac;audio/mp3;audio/ogg;audio/wav;audio/x-matroska;audio/m4a;audio/aac;audio/opus;
StartupWMClass=tauon
MimeType=x-scheme-handler/tauon;x-scheme-handler/tauonmb;